<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="jp.ats.blendee.plugin.properties.BlendeePropertyPage"
            id="jp.ats.blendee.plugin.propertyPage"
            name="Blendee">
         <filter
               name="nature"
               value="org.eclipse.jdt.core.javanature">
         </filter>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Blendee"
            id="jp.ats.blendee.plugin"/>
      <view
            class="jp.ats.blendee.plugin.views.QueryEditorView"
            icon="icons/blendee.png"
            category="jp.ats.blendee.plugin"
            name="Blendee Query Editor"
            id="jp.ats.blendee.plugin.queryEditorView"/>
      <view
            category="jp.ats.blendee.plugin"
            class="jp.ats.blendee.plugin.views.ClassBuilderView"
            icon="icons/blendee.png"
            id="jp.ats.blendee.plugin.classBuilderView"
            name="Blendee ORM Generator">
      </view>
   </extension>
   <extension
         id="jp.ats.blendee.queryAssist"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            activate="true"
            categoryId="org.eclipse.jdt.ui.defaultProposalCategory"
            class="jp.ats.blendee.plugin.QueryAssist"
            needsSortingAfterFiltering="false">
         <partition
               type="__dftl_partition_content_type">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="jp.ats.blendee.plugin.commandCategory"
            name="Blendee">
      </category>
      <command
            categoryId="jp.ats.blendee.plugin.commandCategory"
            id="jp.ats.blendee.plugin.restartQueryEditor"
            name="restartQueryEditor">
      </command>
      <command
            categoryId="jp.ats.blendee.plugin.commandCategory"
            id="jp.ats.blendee.plugin.restartORMGenerator"
            name="restartORMGenerator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="jp.ats.blendee.plugin.popup.actions.ChangeProjectHandler"
            commandId="jp.ats.blendee.plugin.restartQueryEditor">
      </handler>
      <handler
            class="jp.ats.blendee.plugin.popup.actions.ChangeProjectHandler"
            commandId="jp.ats.blendee.plugin.restartORMGenerator">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Blendee">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="activeMenuSelection">
                 <iterate>
                    <adapt
                          type="org.eclipse.core.resources.IProject">
                    </adapt>
                 </iterate>
              </with>
           </visibleWhen>
            <command
                  commandId="jp.ats.blendee.plugin.restartQueryEditor"
                  icon="icons/blendee.png"
                  label="Query Editor を起動する"
                  style="push">
            </command>
            <command
                  commandId="jp.ats.blendee.plugin.restartORMGenerator"
                  icon="icons/blendee.png"
                  label="ORM Generator を起動する"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
